#header{ 
  background-color: #EDE8D0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
}
#searchBtns{
  display: flex;
  align-self: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-right: 5%;
}

#row{
  display: grid;
  grid-template-columns: 50% 50%;
}

#about{
  background-color: #EDE8D0;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 95%;
  height: 120%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#education1{
  background-color: #EDE8D0;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 94%;
  height: 120%;
  align-self: right;
}
#education2{
  background-color: #EDE8D0;
  padding-left: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  width: 94%;
  height: 120%;
  align-self: right;
}

